

.word-list {
    font-size: large;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.jumbotron {
    display: block;
    background-color: #519be6;
    padding: 2rem 1rem;
    border-radius: 0.3rem;
    justify-content: center;
}


.container {
    justify-content: center;
}

.italic {
    font-style: italic;
}

li {
    color: #000000
}

row {
    display: flex;
    justify-content: center;
    outline: peachpuff 2px solid;
}