

.word-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.jumbotron {
    background-color: #519be6;
    padding: 2rem 1rem;
    border-radius: 0.3rem;
    text-align: center;
}

li {
    color: #000000
}